{%extends 'admins/adminbase.html'%}
{%block contents%}

<section id="mu-featured-slider">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="mu-featured-area">
						<h1>View Registered users</h1>
						<p>
 <table border="2px" class="table table-hover table-dark">
                    <thead>
                    <tr class="table-danger">
                        <th scope="col">S.No</th>
                        <th scope="col">Name</th>
                        <th scope="col">Login ID</th>
                        <th scope="col">Mobile</th>
                        <th scope="col">Email</th>
                        <th scope="col">Locality</th>
                        <th scope="col">Status</th>
                        <th scope="col">Activate</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in data %}
                    <tr scope="row" style="color: BLUE; background-color:#FFFCBB">
                        <td>{{forloop.counter}}</td>
                        <td>{{i.name}}</td>
                        <td>{{i.loginid}}</td>
                        <td>{{i.mobile}}</td>
                        <td>{{i.email}}</td>
                        <td>{{i.locality}}</td>
                        <td>{{i.status}}</td>

                        {% if i.status == 'waiting' %}
                        <td><a class="btn-link" href="/AdminActivaUsers/?uid={{ i.id }}"
                               style="color:DARKBLUE">Activate</a></td>
                        {% else %}
                        <td> Activated</td>
                        {% endif %}
                    </tr>
                    {% endfor %}


                    </tbody>
                </table>



                        </p>

						<div class="mu-featured-content">
							<p>Stroke is the number one leading cause of mortality and obesity in many countries. This study preprocessing data to improve the image quality of CT scans of stroke patients by optimizing the quality of image to improve image results and to reduce noise, and also applying machine learning algorithms to classify the patients images into two sub-types of stroke disease, namely ischemic stroke and stroke haemorrhage. Eight machine learning algorithms are used in this study for stroke disease classification, namely K-Nearest Neighbors, Naive Bayes, Logistic Regression, Decision Tree, Random Forest, Multi-layer Perceptron (MLP-NN), Deep Learning and Support Vector Machine. Our results show that Random Forest generates the highest level of accuracy (95.97%), along with precision values (94.39%), recall values (96.12%) and f1-Measures (95.39%).</p>
							<a href="https://ieeexplore.ieee.org/abstract/document/9179307" class="mu-primary-btn view-my-work-btn">VIEW PAPER</a>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>

{%endblock%}